
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 200px;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    background-color: #122b40;
    color: #ffffff;
}

.my-page-header {
    color: #fff;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    margin: 0px
}

.my-page-header a {
    color: #dddddd;
    text-decoration: none;
}

.my-page-header a:hover {
    color: #ffffff;
    text-decoration: none;
}

