<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size: 10px">Babulmovies does not publish or host the videos that are linked or displayed
                    on Babulmovies and have no way of controlling the publishers or the servers on which the videos are
                    hosted. Thus, if you want a piece of content removed from circulation, the best way to do that is to
                    contact the website that hosts the video, not us. After you have seen the low quality videos here,
                    We highly ENCOURAGE you to buy the DVD or cassettes from your local or online video store. Please
                    contact support@Babulmovies.com if you need help finding a local store.</p>
            </div>
        </div>
    </div>
</footer>