<div class="container-fluid" ng-controller="MovieController">
    <div class="row">
        <div class="col-md-12">
            <h2> {{movie.name|toTitle}} </h2>
            <img class="img img-thumbnail" ng-src="{{movie.img}}">
            <hr/>

            <div ng-if="hasTrailer()">
                <h4>Watch Trailer Now :</h4>
                <hr/>
                <div class="list-group">
                    <a ng-href="{{t}}" target="_self" class="list-group-item" ng-repeat="t in movie.trailer"> Trailer
                        {{$index + 1}}</a>
                </div>
            </div>

            <div ng-if="hasWatch()">
                <h4>Watch Movie Online :</h4>
                <hr/>
                <div class="list-group">
                    <a ng-href="{{w}}" target="_self" class="list-group-item" ng-repeat="w in movie.watch"> Play
                        {{$index +
                        1}}</a>
                </div>
            </div>

            <div ng-if="hasDownload()">
                <h4>Download movie :</h4>
                <hr/>
                <div class="list-group">
                    <a ng-href="/movies/my-download.html?id={{movieId}}&url={{d}}" target="_self"
                       class="list-group-item" ng-repeat="d in movie.download"> Direct
                        download {{$index + 1}}</a>
                </div>
            </div>
            <!--
                        <h3>Screen shots:</h3>
                        <hr/>
                        <div ng-repeat="s in movie.screen" class="img img-thumbnail">
                            <img ng-src="{{s}}"/>
                        </div>
                        -->

        </div>
    </div>

</div>
